/* FONTS */
@font-face {
    font-family: FontMedium; /* Название, по которому мы будем обращаться */
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype'); /* Ссылка на файл шрифта */
    font-display: block; /* Отображение шрифта */
  }

  @font-face {
    font-family: FontBlack;
    src: url('../fonts/Montserrat-Black.ttf') format('truetype'); 
    font-display: block; 
  }

  @font-face {
    font-family: FontBold;
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype'); 
    font-display: block; 
  }

  /* Font classes */
.font-medium {
    font-family: FontMedium;
}

.font-bold {
    font-family: FontBold;
}

.font-black {
    font-family: FontBlack;
}